{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block  content %}
    <section>
        <!--    <div class="alert alert-light text-center" role="alert">-->
        <!--        Информационное сообщение-->
        <!--    </div>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">FutureFood</h1>
                    <p>
                        Откройте двери в будущее вместе с FutureFood
                        - доставляем удовольствие каждый день
    <!--                    {% if is_promotion %}-->
                        Аутлет: до -70% Собственный бренд. -20% новым покупателям.
    <!--                    {% else %}-->
    <!--                    Аутлет: до -120% Собственный бренд. -2120% новым покупателям.-->
    <!--                    {% endif %}-->
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{%url 'catalog'%}">
                            Начать покупки
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}