{% extends 'base.html' %}
{% load static humanize%}


{% block css %}
    <link href="{%static 'vendor/css/products.css'%}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="container">
    <!-- Корзина -->
    <div class="col-lg-5" style="position: fixed;border-radius: 10px; top:7.3%;right: 5px; width: 13%;background-color:#343a409c;">
    {% if baskets %}
        <h4  style="text-align: center; padding-top: 5px">
        <a class="btn  float-left" style="position: absolute;right:2px;top: 38px;color: red;font-size: 12px;text-align: center;margin: 0" href="{% url 'catalog:basket_remove_all' %}">
            X
        </a>
            Basket
        </h4>
        <span style="font-size: 90%" class="badge badge-secondary badge-pill"> number of sets : {{baskets.counter}}</span>
            <div style="max-height: 35vh; overflow-y: scroll; overflow-x: hidden">
            {% for basket in baskets %}
            <div class="card mb-3">
                <div class="card-body" style="padding: 5px;width:100%;align-items: center;display: flex; flex-wrap: wrap; flex-direction: column;">

                {% if basket.product.category == basket.product.category %}
                <a href="{%url 'catalog:product_detail' basket.product.id %}"  style="text-align: center;font-weight: bold;color: #000000e0">
                    <img style="width: 100px; height: 60px; align-self: center; margin-bottom: 10px" src="{{ basket.product.image.url }}">
                    <h6 class="" style="text-align:center;font-size: 16px; width: 100%">{{ basket.product.name }}</h6>
                </a>
                {%endif%}


                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-light">
                        <div class="text-center">
                            <div>
                                <p style="font-size: 15px;margin: 0px">
                                    quantity:
                                </p>
                                {{ basket.quantity }}
                                <div style="display: flex; justify-content: space-around">
                                    <a style="color: red;font-size: 20px" href="{% url 'catalog:basket_remove_item' basket.id %}">
                                        -
                                    </a>
                                    <a style="color: green;font-size: 20px" href="{% url 'catalog:basket_add' basket.product.id %}">
                                        +
                                    </a>
                                </div>
                            </div>
                            <div class="">{{ basket.sum }} KGS.</div>
                            <div class="" style="">
                                <a href="{% url 'catalog:basket_remove' basket.id %}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            {% endfor %}
            </div>
            <div class="card mb-3">
        <!--        <h4 class="float-right" style="text-align: center">количество товаров:{{baskets.total_quantity}}.</h4>-->
            <div style="padding: 5px;padding-top: 4px;display: flex; flex-direction: column; align-items: flex-start">
                <h4 class="" style="margin: 0;font-size: 14px;text-align: center;width: 100%">goods: {{baskets.total_quantity}}</h4>
                <h4 class="float-right" style="margin: 0;text-align:end;width: 100%;font-size: 16px">Total: {{baskets.total_sum}}KGZ.</h4>
            </div>
            <a class="btn btn-success  float-right"  href="{% url 'orders:order_create' %}">
                Place an order
            </a>
            </div>
        </div>
    {% else %}
        <h4 class="mt-3 mb-3 text-center" style="font-size: 20px;background-color: whitesmoke; border-radius: 20px">
            Basket is empty
       </h4>
        </div>
   {% endif %}

    <!-- Каталог -->
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">FutureFood</h1>
            <a class="nav-link" style="margin-bottom: 0px ;border-radius: 20px 0;background-color: #000000e0; color: rgb(255 255 255 / 89%);text-align: center;"
                href="{% url 'catalog:index' %}">
                See the whole range
            </a>
            <div class="list-group">

                {% for category in categories %}

                    <a href="{%url 'catalog:category' category.id%}" class="list-group-item" style="font-weight: bold;color: #000000e0">
                        {{ category.name }}
                    </a>
                {% endfor %}


                    {% if form %}
                       <div class="form-group" style="border-radius: 10px 0 20px 20px;text-align: center; background-color: #2ECC71; color: white; margin-top: 15px">
                           <label class="small mb-1" style="text-align: center" for="{{form.bmi_status.id_for_label}}">
                               Your bodymassindex status:{{ form.bmi_status }}
                           </label>


                           <h4 style="margin: 0px; margin-bottom: 5px"> recommendations: </h4>

                            {% if form.bmi_status.value == "Obese" or form.bmi_status.value == "Overweight" %}
                                <h6 style="padding: 0 10px">Pick something to lose weight </h6>
                                {% for category in categories %}
                                    {% if category.name == "Weight loss" or category.name == "Weight loss (Vegan)" %}
                                        <a class="nav-link" style="color: #1018ce" href="{% url 'catalog:category' category.id%}">
                                            {{ category.name }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% elif form.bmi_status.value == "Normal"%}
                                <h6 style="padding: 0 10px">Pick something to maintain mass</h6>
                                {% for category in categories %}
                                    {% if category.name == "Weight maintenance" or category.name == "Weight maintenance (Vegan)" %}
                                        <a class="nav-link" style="color: #1018ce" href="{% url 'catalog:category' category.id%}">
                                            {{ category.name }}
                                        </a>
                                    {% endif %}
                                {% endfor %}

                            {% elif form.bmi_status.value == "Underweight"%}
                                <h6 style="padding: 0 10px">Pick something to gain mass </h6>
                                {% for category in categories %}
                                    {% if category.name == "Weight gain" or category.name == "Weight gain (Vegan)" %}
                                        <a class="nav-link" style="color: #1018ce" href="{% url 'catalog:category' category.id%}">
                                            {{ category.name }}
                                        </a>
                                    {% endif %}
                                {% endfor %}

                           {% endif %}
                       </div>
                    {% else %}
                        <div class="form-group" style="border-radius: 20px 0 20px 20px;text-align: center; background-color: #000000e0; color: white; margin-top: 15px">
                            <p style="margin:5px; font-size: 14px" >For recommendations, please login :</p>
                            <a class="nav-link" href="{% url 'users:login'%}">
                                login
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </div>
                    {% endif %}


        </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox" >
                    <div class="carousel-item active" style="background-color: #ffffff ">
                        <img class=" img-fluid" src="/static/vendor/img/slides/slide-34.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item" style="background-color: #ffffff">
                        <img class="img-fluid" src="/static/vendor/img/slides/slide-2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item" style="background-color: #ffffff">
                        <img class=" img-fluid" src="/static/vendor/img/slides/slide-3.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row"style="justify-content: space-around;">

                {% for product in catalog %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <h4 style="background-color: rgb(152,118,84);text-align: center;background: linear-gradient(to right, #000000, rgba(152,118,84,0.62)); -webkit-background-clip: text; color: transparent; " class="card-text" id="product">
                            {{ product.category }}
                        </h4>
                        <a href="{%url 'catalog:product_detail' product.id %}">
                            <img style="width: 100%;height: 200px" class="card-img-top"
                                 src="{{ product.image.url }}"
                                 alt="">
                        </a>
                        <div class="card-body "style="padding:18px; display:flex; flex-direction:column; justify-content:space-around;">
                            <h4 style="text-align: center" class="card-title">
                                <a style="text-align: center" href="{% url 'catalog:product_detail' product.id%}">{{product.name}}</a>
                            </h4>
                            <h5>{{ product.price|intcomma }} KGS.</h5>
                            <div style="display: flex; justify-content: space-around; flex-wrap: nowrap">
                                <p class="card-text" style="margin: 0;font-weight: bold ">
                                        {{ product.calories }}Calories:
                                </p>
                            </div>
                            <div style="height: 22px;display: flex; justify-content: space-around; flex-wrap: nowrap">
                                <p class="card-text" style="margin: 0">
                                        {{ product.fats }}Fat
                                </p>
                                /
                                <p class="card-text" style="margin: 0">
                                        {{ product.proteins }}Protein
                                </p>
                                /
                                <p class="card-text" style="margin: 0">
                                        {{ product.carbohydrates }}Carbs.
                                </p>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-outline-success" href="{% url 'catalog:basket_add' product.id %}">
                                Add to basket
                            </a>
<!--                            <button type="button" class="btn btn-outline-success">Отправить в корзину</button>-->
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not catalog.has_previous %} disabled {% endif %}">
                        <a class="page-link"
                            href="{% if catalog.has_previous %} {% url 'catalog:paginator' catalog.previous_page_number %} {% else %} # {% endif %}"
                            tabindex="-1" aria-disabled="true">
                            Previous
                        </a>
                    </li>
                    {% for page in catalog.paginator.page_range %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'catalog:paginator' page %}">
                                {{page}}
                            </a>
                        </li>
                    {% endfor %}
                    <li class="page-item {% if not catalog.has_next %} disabled {% endif %}">
                        <a class="page-link" href="{% if catalog.has_next %} {% url 'catalog:paginator' catalog.next_page_number %} {% else %} # {% endif %}">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>

</div>
{% endblock %}


{% block footer %}
<footer class="py-5 bg-dark" style="position: static">
    <div class="container">
        <p class="m-0 text-center text-white">&copy; FutureFood 2023</p>
    </div>
    <!-- /.container -->
</footer>
{% endblock %}